/* navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    /* padding: 0px 0px; */

}
/* home section */
#home{
    /* background-color: red; */
    height: 268px;
    padding: 3px 75px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 0.8rem;
}
/* services section */
#services{
    flex-direction: column;
}

#services .box{
   padding: 2px;
   margin:2px 0px ;
   margin-bottom: ;
}
/* clients section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 60px;
    padding: 50px;
    height: auto;
}
/* contact us section */
#contact-box form{
    width: 80%;
}
/* footer section */


/* utility classes */
.h-primary{
    font-size: 2rem;
}
.btn{
    font-size: 15px;
    padding: 4px 8px;
}
